{% extends "layouts/bootstrap.twig" %}

{% block headers %}

{% include 'includes/scripts/datatables.twig' %}

{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Years</li>
    </ol>
</nav>

<h2>Years</h2>

<div class="" id="years-div">
    <div class="" id="create">
        <h5>Add Year</h5>
        <form class="form" action="{{ app.yurl('/admin/years/add') }}" method="post">
            <div class="row">
                <div class="form-group col-sm-6 col-md-4">
                    <label for="year">Year</label>
                    <input class="form-control" type="number" id="year" name="year" value="2026" required/>
                </div>
                <div class="form-group col-sm-6 col-md-4 mt-auto">
                    <button class="btn btn-primary btn-inline" type="submit" name="action">Add Year</button>
                </div>
            </div>
        </form>
    </div>
    <div class="divider"></div>
    <div class="">
        <table class="table table-striped" id="years-table">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Current Year?</th>
                    <th>Change Current Year</th>
                </tr>
            </thead>
            <tbody>
                {% for year in years %}
                    {% set checkedText = year.isCurrent ? 'checked' : '' %}
                    <tr>
                        <td>{{ year.year }}</td>
                        <td>{{ year.isCurrent ? 'Yes' : '' }}</td>
                        <td>
                            {% if not year.isCurrent %}
                                <a class="btn btn-primary" href="{{ app.yurl('/admin/years/' ~ year.yearID ~ '/make-current') }}">Make current</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        datatablesProps.columnDefs = [
            { orderable: false, targets: [-1, -2] }
        ];
        datatablesProps.language = {
            searchPlaceholder: "Search years..."
        };
        datatablesProps.order = [[ 0, 'asc' ]];
        $('#years-table').DataTable(datatablesProps);
    });
</script>

{% endblock %}