{% extends "layouts/main.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/commentaries') }}">SDA Bible Commentaries</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete Commentary</li>
    </ol>
</nav>

<h2>Delete Commentary</h2>

{% include 'includes/error-message.twig' %}

<div id="delete-commentary">
    <h4> Are you sure you want to remove SDA Bible Commentary {{ commentary.number }} for the year {{ commentary.year }} from the available commentaries list?</h4>
    <form method="post">
        {{ csrf('delete-commentary') | raw }}
        <button class="btn btn-danger btn-sm" type="submit" name="action"><i class="fas fa-trash-alt"></i> Delete Commentary</button>
    </form>
</div>

{% endblock %}