{% extends "layouts/main.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/conferences') }}">Conferences</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete Conferences</li>
    </ol>
</nav>

<h2>Delete Conference</h2>

{% include 'includes/error-message.twig' %}

<div id="delete-conference">
    <h4> Are you sure you want to delete the conference {{ conference.name }}? </h4>
    <form method="post">
        {{ csrf('delete-conference') | raw }}
        <button class="btn btn-danger btn-sm" type="submit" name="action"><i class="fas fa-trash-alt"></i> Delete Conference</button>
    </form>
</div>

{% endblock %}