{% extends "layouts/main.twig" %}

{% block headers %}

{% include 'includes/scripts/datatables.twig' %}

{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Conferences</li>
    </ol>
</nav>

<h4>Conferences</h4>

<div id="create-conference">
    <a class="btn btn-sm btn-primary" href="{{ app.yurl('/admin/conferences/create') }}"><i class="fas fa-plus"></i> Create Conference</a>
</div>

<div id="conferences-div">
    <table class="table table-striped table-bordered table-responsive" id="conferences-table">
        <thead>
            <tr>
                <th>Conference Name</th>
                <th>URL</th>
                <th>Contact Name</th>
                <th>Contact Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for conference in conferences %}
                <tr>
                    <td>{{ conference.name }}</td>
                    <td><a href="{{ conference.url }}" target="_blank">{{ conference.url }}</a></td>
                    <td>{{ conference.contactName }}</td>
                    <td><a href="mailto:{{ conference.contactEmail }}">{{ conference.contactEmail }}</a></td>
                    <td><a class="btn btn-sm btn-primary" href="{{ app.yurl('/admin/conferences/' ~ conference.conferenceID ~ '/edit') }}"><i class="fas fa-pencil"></i> Edit Conference</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{{ app.yurl('/admin/conferences/' ~ conference.conferenceID ~ '/delete') }}"><i class="fas fa-trash-alt"></i> Delete Conference</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).ready(function() {
        datatablesProps.columnDefs = [
            { orderable: false, targets: [-1, -2] }
        ];
        datatablesProps.language = {
            searchPlaceholder: 'Search conferences...'
        };
        datatablesProps.order = [[ 0, 'asc' ]];
        $('#conferences-table').DataTable(datatablesProps);
    });
</script>

{% endblock %}