{% extends "layouts/main.twig" %}

{% block content %}

<p><a class="btn-flat blue-text waves-effect waves-blue no-uppercase" href="{{ app.yurl('/admin') }}">Back</a></p>

<h4>Web Administrator Help</h4>

<div id="admin-help">
    <div class="row">
        <div class="col s12 m8">
            
        <h5>Adding new website administrators</h5>
            <p>There is no limit to the number of website administrators that can be used in this system. However, make sure you trust any website administrators that you add to the system, as they will have full access to everything you have access to.</p>
            <p>To add a new website administrator, go to the <a href="{{ app.yurl('/admin/users/create') }}">create users page</a> and add a user as you normally would. Make sure to add them to the "Website Administrators (Website Administrators)" club/conference, and set their user type to "Website Administrator". Once you click save, that user will be added to the system and will have full access.</p>
            <p>You can also edit a current user and change them to or from a website administrator via that user's user edit page.</p>

            <h5>Managing website settings</h5>
            <p>Most of the time, you won't need to touch the settings on the <a href="{{ app.yurl('/admin/settings') }}">edit website settings page</a> at all. Only come here if you need to change the website contact name/email or if you know what you're doing. The "Website Name" setting is shown in the navigation bar on the left, and the "Website Title" is the name after the hyphen in your browser tab. The "Footer Text" is shown at the bottom of every page. Analytics settings should not be modified by anyone who does not manage the actual web server itself.</p>

            <h5>Transitioning to a new PBE year</h5>
            <p>The PBE Prep and Quiz Master website website is set up such that each year of PBE questions can be hosted on the same website without doing a large amount of work to transition in between years. Each year can use different Bible books, commentary volumes, study guides, and quiz questions. Users, conferences, and administrator users remain the same. Admins can always view which books, commentaries, and study guides are available from the admin interface, but users who are not website administrators can only view the current year's information.</p>
            <p>To transition from the current PBE year to the upcoming year, perform the following operations:
                <ol>
                    <li>Change the website's current year to the upcoming PBE year on the <a href="{{ app.yurl('/admin/years') }}">Years page</a>.</li>
                    <li>Go to the <a href="{{ app.yurl('/admin/books') }}">Bible books page</a> and add in the Bible books that will be used for the PBE year. These are the Bible books that will be available when creating new questions. Make sure to set the number of chapters to the correct number!</li>
                    <li>For each book that you added on the Bible books page, click 'Manage Chapters'. Add chapters for that book of the Bible for each chapter that will be quizzed over (e.g. one for Daniel 1, one for Daniel 2). Make sure to set the number of verses for that chapter to the correct number!</li>
                    <li>At this point, Bible books are ready to go. Now go to the <a href="{{ app.yurl('/admin/commentaries') }}">commentaries page</a> and add the commentary volumes that will be used for the new PBE year. Make sure to type in the correct volume number and topic. The system does not check to make sure that the given topic exists in the volume number that you type in.</li>
                    <li>Now that all the books and commentaries are set up, double check the available <a href="{{ app.yurl('/admin/conferences') }}">conferences</a> that can access the system as well as each conference's contact information. The conferences set up on this page are the ones that show up on the About page, and they're also the ones that show up when adding new users to the system.</li>
                    <li>When your study guides for the new year are ready, upload them on the <a href="{{ app.yurl('/admin/study-guides') }}">study guides</a> page.</li>
                    <li>Let your users know everything is ready for the new year, and enjoy another year of PBE learning!</li>
                </ol>
            </p>
        </div>
    </div>
</div>

{% endblock %}
