{% extends "layouts/main.twig" %}

{% block content %}

<h2>Administrator Panel</h2>

<div id="admin-links">
    <h4>Club Administrator Functions</h4>
    <ul>
        <li class="home-buttons"><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/upload-csv') }}">Import Questions from Excel</a></li>
        <li class="home-buttons"><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/users') }}">Users</a></li>
    </ul>
    {% if app.isConferenceAdmin or app.isWebAdmin %}
        <h4>Conference Administrator Functions</h4>
        <ul>
            {% if app.isWebAdmin %}
                <li class="home-buttons">
                    <a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/home-sections/' ~ conferenceID ~ '/sections') }}">Home Page Info</a>
                </li>
            {% endif %}
            <li class="home-buttons"><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/clubs') }}">Pathfinder Clubs</a></li>
            <li class="home-buttons"><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/study-guides') }}">Study Guides</a></li>
        </ul>
    {% endif %}
    {% if app.isWebAdmin %}
        <h4>Web Administrator Functions</h4>
        <div class="row">
            <div class="col s6 m5">
                <ul class="mt-0">
                    <li><a class="btn blue white-text waves-effect waves-light" href="{{ app.yurl('/admin/help') }}">Web Admin Help</a></li>
                    <li class="home-buttons"><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/books') }}">Bible Books</a></li>
                    <li class="home-buttons"><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/commentaries') }}">Commentaries</a></li>
                    <li class="home-buttons"><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/conferences') }}">Conferences</a></li>
                    <li class="home-buttons"><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/contact-submissions') }}">Contact Form Submissions</a></li>
                    <li class="home-buttons"><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/bible-fill-ins') }}">Manage Bible Fill in the Blank Questions</a></li>
                </ul>
            </div>
            <div class="col s6 m5">
                <ul class="mt-0">
                    <li><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/matching-question-sets') }}">Manage Matching Question Sets</a></li>
                    <li class="home-buttons"><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/bible-qna-questions') }}">Manage Q&amp;A Questions</a></li>
                    <li class="home-buttons"><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/non-blankable-words') }}">Non-Blankable Words</a></li>
                    <li class="home-buttons"><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/settings') }}">Website Settings</a></li>
                    <li class="home-buttons"><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/years') }}">Years</a></li>
                </ul>
            </div>
    {% endif %}
</div>

{% endblock %}