{% extends "layouts/bootstrap.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin</li>
    </ol>
</nav>

<h2>Administrator Panel</h2>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card">
            <h5 class="card-header text-center">Club and User Administration</h5>
            <div class="card-body">
                {# <h5 class="card-title">sdf </h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> #}
                <a href="{{ app.yurl('/admin/upload-csv') }}" class="btn btn-primary btn-block">Import Questions from Excel</a>
                <a class="btn btn-secondary btn-block" href="{{ app.yurl('/admin/users') }}">Users</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card">
            <h5 class="card-header text-center">Conference Administration</h5>
            <div class="card-body">
                <a class="btn btn-primary btn-block" href="{{ app.yurl('/admin/home-sections/' ~ conferenceID ~ '/sections') }}">Home Page Info</a>
                <a class="btn btn-primary btn-block" href="{{ app.yurl('/admin/clubs') }}">Pathfinder Clubs</a></li>
                <a class="btn btn-primary btn-block" href="{{ app.yurl('/admin/study-guides') }}">Study Guides</a></li>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card">
            <h5 class="card-header text-center">Website Administration</h5>
            <div class="card-body">
                <a class="btn btn-primary btn-block" href="{{ app.yurl('/admin/help') }}">Web Admin Help</a>
                <a class="btn btn-secondary btn-block" href="{{ app.yurl('/admin/books') }}">Bible Books</a>
                <a class="btn btn-info btn-block" href="{{ app.yurl('/admin/commentaries') }}">Commentaries</a>
                <a class="btn btn-secondary btn-block" href="{{ app.yurl('/admin/conferences') }}">Conferences</a>
                <a class="btn btn-info btn-block" href="{{ app.yurl('/admin/bible-fill-ins') }}">Manage Bible Fill in the Blank Questions</a>
                <a class="btn btn-secondary btn-block" href="{{ app.yurl('/admin/non-blankable-words') }}">Non-Blankable Words</a>
                <a class="btn btn-info btn-block" href="{{ app.yurl('/admin/settings') }}">Website Settings</a>
                <a class="btn btn-secondary btn-block" href="{{ app.yurl('/admin/years') }}">Years</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}