{% extends "layouts/main.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Website Settings</li>
    </ol>
</nav>

{% if didJustSave %}
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="alert alert-success" role="alert">
                Settings saved!
            </div>
        </div>
    </div>
{% endif %}

{% if didError %}
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="alert alert-danger" role="alert">
                Error saving settings. Please try again.
            </div>
        </div>
    </div>
{% endif %}

<h4>Edit Website Settings</h4>

<div id="edit-settings">
    <form method="post">
        {{ csrf('change-settings') | raw }}
        {% for setting in settings %}
            {% if setting.displayName != 'Analytics URL' and setting.displayName != 'Analytics Site ID' %}
                <div class="row mt-2">
                    <div class="form-group col-sm-12 col-md-6">
                        <label for="{{ setting.key }}">{{ setting.displayName }}</label>
                        <input type="text" class="form-control" id="{{ setting.key }}" name="{{ setting.key }}" 
                            placeholder="{{ setting.displayName }}" 
                            value="{{ setting.value }}" required maxlength="150"/>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <button class="btn btn-sm btn-primary mt-2" type="submit" name="action"><i class="fas fa-save"></i> Save</button>
    </form>
</div>

{% endblock %}