{% extends "layouts/main.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Import Questions from Excel CSV File</li>
    </ol>
</nav>

{% if didProcessUpload %}
    <h3>Import completed. Please see below for import results:</h3>
    <p>
        <strong>Upload results: </strong>{{ questionsSuccessfullyAdded }} questions successfully added. 
        {% if questionsFailedToAdd > 0 %}
            {{ questionsFailedToAdd }} questions couldn't be added to the system.</p> <!-- close of initial paragraph -->
            {% if errors != '' %}
                <p>{{ errors | raw }}</p>
            {% endif %}
        {% else %}
            </p> <!-- close of initial paragraph -->
        {% endif %}
{% endif %}

<h4>Import Questions from Excel CSV File</h4>

<p class="mb-1">Directions can be found below the upload form. Please read and follow them carefully, even though they are lengthy. It is worth your time to read through them once in order to avoid aggravation later.</p>

<div id="upload">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="csv"><em>Choose CSV File...</em></label>
                <input class="form-control" type="file" id="csv" name="csv" accept=".csv,text/csv" required>
            </div>
        </div>
        <button class="btn btn-primary btn-sm mt-2" type="submit" name="action"><i class="fas fa-upload"></i> Upload Questions</button>
    </form>
</div>

<hr/> 

<h4 class="mt-2">Upload Form Directions</h4>

<p>Using the upload form requires using Microsoft Excel software. Technically, other methods are possible, but they are not officially supported.</p>
<p>The sample upload file for filling out can be downloaded by clicking the following link: <a class="btn btn-sm btn-primary" href="{{ app.yurl('/files/offline-question-sheet.xlsx') }}" target="_blank"><i class="fas fa-download"></i> Download Sample File</a></p>
<p>Make sure to use the sample upload file whenever you want to upload questions. You may erase everything in the file <em>except</em> the first row of <strong>bold</strong> headers. If your file does not have the right column headers, things will not work!</p>
<p>Directions:</p>
<div class="row">
    <div class="col-sm-12 col-md-10">
        <ol>
            <li>Before uploading any questions or using the sample upload file, make sure that all of the <a href="{{ app.yurl('/admin/books') }}" target="_blank">Bible books</a>, Bible chapters (with proper verse count), and <a href="{{ app.yurl('/admin/commentaries') }}" target="_blank">commentary volumes</a> are set up with the values that you will be using in the upload file.</li>
            <li>Download the above linked sample file to your computer. Note the format of the values under each column. Your data will be required to be in the same format. No typos are acceptable. In the samples below, quote marks are used to delineate acceptable values; do not use the quote marks when typing in the file unless they are part of the question's question or answer. For reference, the accepted values for each column are:
                <ul class="browser-default">
                    <li><strong>Type</strong>: "Bible" or "Commentary"</li>
                    <li><strong>Fill in?</strong>: "Yes" if adding a fill in the blank question or "No" otherwise. ("True"/"False" work, too.) "Fill in the blank" questions are usually Bible verses, and the website automatically adds blanks for the person taking the quiz. If you want a Fill in the Blank question with your own, manually added blanks and want to make the system avoid adding its own blanks, put "No" in this column. The system will already have fill in the blank questions for Bible text already available, so generally speaking this column will probably be "No" for most users.</li>
                    <li><strong>Language</strong>: "English", "French", or "Spanish" -- defaults to "{{ defaultLanguage.getDisplayName() }}"</li>
                    <li><strong>Question</strong>: Question text. The maximum length for a question is 10,000 characters. (A character is one letter, such as 'A'.). <strong>You do not need to add the "According to...," part at the beginning of a question. It will be automatically added for you by the system.</strong></li>
                    <li><strong>Answer</strong>: Answer text for the question. Do not use if adding a fill in the blank question. The maximum length for an answer is 10,000 characters. (A character is one letter, such as 'A'.)</li>
                    <li><strong>Points</strong>: Number of points for the question. Should be a number like 32 and not "thirty-two". If left blank, this value defaults to 1.</li>
                    <li><strong>Start Book</strong>: Name of the Bible book for the question's starting verse. Not required if adding a commentary question. Must match a Bible book already in the system.</li>
                    <li><strong>Start Chapter</strong>: Chapter number for the question's starting verse. Should be a number like 32 and not "thirty-two". Must match a chapter already in the system for the given Bible book. Not required if adding a commentary question.</li>
                    <li><strong>Start Verse</strong>: Verse number for the question's starting verse. Should be a number like 32 and not "thirty-two". Must be greater than 0 and less than or equal to the number of verses for the given Bible book and chapter already in the system. Not required if adding a commentary question.</li>
                    <li><strong>End Book</strong>: Name of the Bible book for the question's ending verse. Not required if adding a commentary question or if the start verse is the same as the end verse. Must match a Bible book already in the system.</li>
                    <li><strong>End Chapter</strong>: Chapter number for the question's ending verse. Not required if adding a commentary question or if the start verse is the same as the end verse. Should be a number like 32 and not "thirty-two". Must match a chapter already in the system for the given Bible book.</li>
                    <li><strong>End Verse</strong>: Verse number for the question's ending verse. Not required if adding a commentary question or if the start verse is the same as the end verse. Should be a number like 32 and not "thirty-two". Must be greater than 0 and less than or equal to the number of verses for the given Bible book and chapter already in the system.</li>
                    <li><strong>Commentary Number</strong>: Volume number for the question. Only use on questions of type "Commentary". Should be a number like 32 and not "thirty-two". Must match a commentary number already in the system.</li>
                    <li><strong>Commentary Topic</strong>: Volume topic for the question (e.g. John, Luke). Only use on questions of type "Commentary". Must match a commentary topic already in the system for the given commentary number.</li>
                    <li><strong>Start Page</strong>: Start page reference for the question. Only use on questions of type "Commentary". Should be a number like 32 and not "thirty-two". Can be any number.</li>
                    <li><strong>End Page</strong>: End page reference for the question. Only use on questions of type "Commentary". Should be a number like 32 and not "thirty-two". Can be any number. Can be left blank.</li>
                </ul>
            </li>
            <li>Type in as many questions into the upload form as you like. Each question should take one row. Remember to avoid deleting the header row!</li>
            <li>When you're ready to upload the file, choose "File" -> "Save As" from the menu. Save the document as a UTF-8 CSV (Comma delimited) file. Especially if you're working with Spanish or French questions, make sure to choose the UTF-8 option! Save the file in a location you can find because you'll need it in the next step. If Excel warns you that some features of the worksheet may be lost, just say OK.</li>
            <li>Once you've got the file, simply use the form above to upload the questions. Click "Choose CSV File", find the file that you saved in the previous step, and choose that one. Then click "Upload Questions" and wait. The web page will tell you if any questions were unable to be added as well as the number of questions successfully added. Keep in the mind that the upload questions form does not care if you're adding questions for old years, so if you add questions to another year's books/commentaries, those questions will still upload properly!</li>
        </ol>
    </div>
</div>

{% endblock %}