
{% set homePath = app.basePath == '' ? '/' : app.basePath %}
{% set htmlTitle = '' %}
{% if title is defined %} 
    {% set htmlTitle = title ~ ' - ' ~ app.websiteTabTitle %}
{% else %}
    {% set htmlTitle = app.websiteTabTitle %}
{% endif %}

{% set currentRequest = str_replace(app.basePath, '', requestURI()) %}
{% if strEndsWith(currentRequest, '/') %}
    {% set currentRequest = substr(currentRequest, 0, -1) %}
{% endif %}
{% set currentRequest = str_replace('/', '', currentRequest) %}

{% set homeHeaderActiveStatus = 'home' in currentRequest and not 'home-section' in currentRequest ? 'active' : '' %}
{% set contactHeaderActiveStatus = 'contact' in currentRequest and 'admin' not in currentRequest ? 'active' : '' %}
{% set aboutHeaderActiveStatus = 'about' in currentRequest ? 'active' : '' %}
{% set loginHeaderActiveStatus = 'login' in currentRequest ? 'active' : '' %}
{% set adminHeaderActiveStatus = 'admin' in currentRequest ? 'active' : '' %}
{% if aboutHeaderActiveStatus == '' and adminHeaderActiveStatus == '' and contactHeaderActiveStatus == '' and loginHeaderActiveStatus == '' %}
    {% set homeHeaderActiveStatus = 'active' %}
{% endif %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <meta name="description" content="Pathfinder Bible Experience (PBE) prep and quiz master website used to generate study materials for yearly PBE events">
        <meta name="keywords" content="Pathfinder, Bible, SDA, quiz, master, experience">
        <meta name="author" content="PBEPrep.com">

        <title>{{ htmlTitle }}</title>
        <link rel="stylesheet" href="{{ app.yurl('/css/normalize.css') }}" />

        <!-- Import timer icon (TODO: use separate icon lib like font awesome -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {# favicon #}
        <link rel="icon" type="image/x-icon" href="{{ app.yurl('favicon.png') }}">

        <link href="{{ app.yurl('/lib/fontawesome6/css/all.min.css') }}" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ app.yurl('/lib/bootstrap/bootstrap-zephyr.min.css') }}?{{ filemtime("lib/bootstrap/bootstrap-zephyr.min.css") }}"/>
        <script src="{{ app.yurl('/lib/bootstrap/bootstrap.bundle.min.js') }}?{{ filemtime("lib/bootstrap/bootstrap.bundle.min.js") }}"></script>

        <link rel="stylesheet" href="{{ app.yurl('/css/common.css') }}?{{ filemtime("css/common.css") }}" />

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
        <script src="{{ app.yurl('/lib/jquery-3.7.1.min.js') }}"></script>

        <script type="text/javascript" src="{{ app.yurl('/lib/autosize.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script> {# todo: why do we have 2 sortable imports? #}

        <!-- For admin pages -->
        <script type="text/javascript" src="{{ app.yurl('/lib/html.sortable.min.js') }}"></script> <!-- https://github.com/lukasoppermann/html5sortable -->

        {% block headers %}
        {% endblock %}

        <script src="{{ app.yurl('/js/common.js') }}?{{ filemtime("js/common.js") }}"></script>
        {% if not app.isLocalHost %}
            {% if app.showCookieConsent %}
                <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
            {% endif %}
            {% if app.headerForAnalytics %}
                {{ app.headerForAnalytics | raw }}
            {% endif %}
        {% endif %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-primary shadow" data-bs-theme="dark">
                <div class="container">
                    <a href="{{ homePath }}" class="navbar-brand">{{ app.websiteName }}</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if app.loggedIn %}
                            <li class="nav-item"><a class="nav-link {{ homeHeaderActiveStatus }}" href="{{ homePath }}">Home</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link {{ loginHeaderActiveStatus }}" href="{{ app.yurl('/login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                    <ul class="ms-auto navbar-nav">
                        <li class="nav-item"><a class="nav-link {{ aboutHeaderActiveStatus }}" href="{{ app.yurl('/about') }}">About</a></li>
                        <li class="nav-item"><a class="nav-link {{ contactHeaderActiveStatus }}" href="{{ app.yurl('/contact') }}">Contact Us</a></li>
                        {% if app.loggedIn %}
                            {% if app.isAdmin %}
                                <li class="nav-item"><a class="nav-link {{ adminHeaderActiveStatus }}" href="{{ app.yurl('/admin') }}">Admin Panel</a></li>
                            {% endif %}
                            <li class="nav-item"><a class="nav-link" href="{{ app.yurl('/logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div id="main" class="container mt-3">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer class="site-footer">
            <div class="container">
                <p class="mt-2 mb-2"><a class="" href="{{ app.yurl('/about') }}">{{ app.websiteName }}</a> © 2017 - {{ 'now' | date('Y') }} pbeprep.com.<br/>This website is not an official resource of the Pathfinder Bible Experience or the North American Division of Seventh-day Adventists.<br>{{ translate(app.footerText, getUserLanguageAbbr(app.db)) }}</p>
            </div>
        </footer>
        <script type="text/javascript">
            $(document).ready(function() {
                {% if not app.isLocalHost and app.showCookieConsent %}
                    window.cookieconsent.initialise({
                        "palette": {
                            "popup": {
                                "background": "#0e1013",
                                "text": "#ffffff"
                            },
                            "button": {
                                "background": "#41aa9c",
                                "text": "#ffffff"
                            }
                        },
                        "theme": "classic",
                        "position": "bottom-right",
                        "content": {
                            "message": "This website uses cookies to ensure you get the best experience on our website.",
                            "link": "Learn more"
                        },

                        "cookie": {
                            "domain": "{{ app.domain }}",
                            "path": "/",
                            "secure": true
                        }
                    });
                {% endif %}
            });
        </script>
    </body>
</html>