
{% set homePath = app.basePath == '' ? '/' : app.basePath %}
{% set htmlTitle = '' %}
{% if title is defined %} 
    {% set htmlTitle = title ~ ' - ' ~ app.websiteTabTitle %}
{% else %}
    {% set htmlTitle = app.websiteTabTitle %}
{% endif %}

{% set currentRequest = str_replace(app.basePath, '', requestURI()) %}
{% if strEndsWith(currentRequest, '/') %}
    {% set currentRequest = substr(currentRequest, 0, -1) %}
{% endif %}
{% set currentRequest = str_replace('/', '', currentRequest) %}

{% set homeHeaderActiveStatus = 'home' in currentRequest and not 'home-section' in currentRequest ? 'active' : '' %}
{% set aboutHeaderActiveStatus = 'about' in currentRequest ? 'active' : '' %}
{% set adminHeaderActiveStatus = 'admin' in currentRequest ? 'active' : '' %}
{% if aboutHeaderActiveStatus == '' and adminHeaderActiveStatus == '' %}
    {% set homeHeaderActiveStatus = 'active' %}
{% endif %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Pathfinder Bible Experience (PBE) prep and quiz master website used to generate study materials for yearly PBE events">
        <meta name="keywords" content="Pathfinder, Bible, SDA, quiz, master, experience">
        <meta name="author" content="PBEPrep.com">

        <title>{{ htmlTitle }}</title>
        <link rel="stylesheet" href="{{ app.yurl('/css/normalize.css') }}" />

        <!-- Favicon Items -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ app.yurl('/files/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ app.yurl('/files/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ app.yurl('/files/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ app.yurl('/files/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ app.yurl('/files/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ app.yurl('/lib/materialize/css/materialize.min.css?v=20171204a') }}" media="screen,projection"/>
        <!-- Import Font Awesome 5-->
        <link href="{{ app.yurl('/lib/fontawesome5/css/all.min.css') }}" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="{{ app.yurl('/css/common.css') }}?{{ filemtime("css/common.css") }}" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
        <script src="{{ app.yurl('/lib/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ app.yurl('/lib/materialize/js/materialize.min.js') }}"></script>

        <script type="text/javascript" src="{{ app.yurl('/lib/autosize.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

        <!-- For admin pages -->
        <script type="text/javascript" src="{{ app.yurl('/lib/html.sortable.min.js') }}"></script> <!-- https://github.com/lukasoppermann/html5sortable -->

        {% block headers %}
        {% endblock %}

        <script src="{{ app.yurl('/js/common.js') }}?{{ filemtime("js/common.js") }}"></script>
        {% if not app.isLocalHost %}
            {% if app.showCookieConsent %}
                <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
            {% endif %}
            {% if app.headerForAnalytics %}
                {{ app.headerForAnalytics | raw }}
            {% endif %}
        {% endif %}
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper teal lighten-2">
                    <div class="container">
                        <a href="{{ homePath }}" class="brand-logo">{{ app.websiteName }}</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            {% if app.loggedIn %}
                                <li class="{{ homeHeaderActiveStatus }}"><a href="{{ homePath }}">Home</a></li>
                            {% endif %}
                            <li class="{{ aboutHeaderActiveStatus }}"><a href="{{ app.yurl('/about') }}">About</a></li>
                            {% if app.loggedIn %}
                                {% if app.isAdmin %}
                                    <li class="{{ adminHeaderActiveStatus }}"><a href="{{ app.yurl('/admin') }}">Admin Panel</a></li>
                                {% endif %}
                                <li><a href="{{ app.yurl('/logout') }}">Logout</a></li>
                            {% endif %}
                        </ul>
                        <ul class="side-nav teal darken-1" id="mobile-demo">
                            <li><a class="center-align white-text" id="side-nav-title" href="{{ homePath}}">{{ app.websiteName }}</a></li>
                            {% if app.loggedIn %}
                                <li class="{{ homeHeaderActiveStatus }}"><a class="white-text" href="{{ homePath }}">Home</a></li>
                            {% endif %}
                            <li class="{{ aboutHeaderActiveStatus }}"><a class="white-text" href="{{ app.yurl('/about') }}">About</a></li>
                            {% if app.loggedIn %}
                                {% if app.isAdmin %}
                                    <li class="{{ adminHeaderActiveStatus }}"><a class="white-text" href="{{ app.yurl('/admin') }}">Admin Panel</a></li>
                                {% endif %}
                                <li><a class="white-text" href="{{ app.yurl('/logout') }}">Logout</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div id="main" class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer class="container">
            <p><a class="" href="{{ app.yurl('/about') }}">{{ app.websiteName }}</a> © 2017 - {{ 'now' | date('Y') }} pbeprep.com. Favicon: <a href="https://thenounproject.com/term/bible/22633/" target="_blank">Bible</a> by Dan Hetteix from <a href="http://thenounproject.com/" target="_blank">the Noun Project</a>.<br>{{ app.footerText }}</p>
        </footer>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".button-collapse").sideNav();
                {% if not app.isLocalHost and app.showCookieConsent %}
                    window.cookieconsent.initialise({
                        "palette": {
                            "popup": {
                                "background": "#0e1013",
                                "text": "#ffffff"
                            },
                            "button": {
                                "background": "#41aa9c",
                                "text": "#ffffff"
                            }
                        },
                        "theme": "classic",
                        "position": "bottom-right",
                        "content": {
                            "message": "This website uses cookies to ensure you get the best experience on our website.",
                            "link": "Learn more"
                        },

                        "cookie": {
                            "domain": "{{ app.domain }}",
                            "path": "/",
                            "secure": true
                        }
                    });
                {% endif %}
            });
        </script>
    </body>
</html>