{% extends "layouts/main.twig" %}

{% block content %}

<p><a class="btn-flat blue-text waves-effect waves-blue no-uppercase" href="{{ app.yurl('/admin/home-sections/' ~ conference.conferenceID ~ '/sections/' ~ section.homeInfoSectionID ~ '/lines') }}">Back</a></p>

<h4>{{ isCreating ? 'Create' : 'Edit' }} Line Item</h4>

{% include 'includes/error-message.twig' %}

<div id="edit-line-item">
    <form method="post">
        <div class="row">
            <div class="input-field col s12 m4">
                <input type="text" id="line-text" name="line-text" value="{{ item.text }}" required/>
                <label for="line-text">Item Text</label>
            </div>
            <div class="input-field col s12 m2">
                <input type="checkbox" id="line-is-link" name="line-is-link" {{ item.isLink ? 'checked' : '' }}/>
                <label class="black-text" for="line-is-link">Links to URL</label>
            </div>
            <div class="input-field col s12 m6">
                <input type="url" id="line-url" name="line-url" value="{{ item.url }}"/>
                <label for="line-url">URL</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light submit" type="submit" name="action">Save</button>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
        fixRequiredSelectorCSS();
    });
</script>

{% endblock %}
