{% extends "layouts/main.twig" %}

{% block headers %}

{% include 'includes/scripts/datatables.twig' %}

{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/books') }}">Bible Books</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit {{ book.name }} (Book for {{ currentYear.year }} PBE year)</li>
    </ol>
</nav>

<h4>Edit {{ book.name }} (Book for {{ currentYear.year }} PBE year)</h4>

{% include 'includes/error-message.twig' %}
<form method="post">
    <div class="row mb-0">
        <div class="form-group col-sm-6 col-md-4">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ book.name }}" placeholder="2 Kings" required maxlength="150"/>
        </div>
        <div class="form-group col-sm-6 col-md-4">
            <label for="number-chapters">Number of Chapters</label>
            <input type="number" class="form-control" id="number-chapters" name="number-chapters" placeholder="1" value="{{ book.numberChapters }}" required min="1" max="150"/>
        </div>
        <div class="form-group col-sm-6 col-md-4">
            <label for="number-chapters">Bible Order</label>
            <input type="number" class="form-control" id="bible-order" name="bible-order" placeholder="1" value="{{ book.bibleOrder }}" required min="1" max="66"/>
            <small>Genesis = 1, Exodus = 2, Matthew = 40...</small>
        </div>
    </div>
    <button class="btn btn-sm btn-primary mt-2" type="submit" name="action"><i class="fas fa-save"></i> Save</button>
</form>

{% endblock %}
