{% extends "layouts/main.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/books') }}">Bible Books</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ book.name }}</li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/books/' ~ book.bookID ~ '/chapters') }}">Chapters</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete Chapter</li>
    </ol>
</nav>

<h2>Delete Chapter</h2>

{% include 'includes/error-message.twig' %}

<div id="delete-chapter">
    <h4> Are you sure you want to delete chapter {{ chapter.number }} from the book {{ book.name }}? </h4>
    <form method="post">
        {{ csrf('delete-chapter') | raw }}
        <button class="btn btn-danger btn-sm" type="submit" name="action"><i class="fas fa-trash-alt"></i> Delete Chapter</button>
    </form>
</div>

{% endblock %}