{% extends "layouts/main.twig" %}

{% block headers %}

{% include 'includes/scripts/datatables.twig' %}

{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/books') }}">Bible Books</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ book.name }}</li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/books/' ~ book.bookID ~ '/chapters') }}">Chapters</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ chapter.number }}</li>
        <li class="breadcrumb-item active" aria-current="page">Verses</li>
    </ol>
</nav>

<h4>{{ book.name }} {{ chapter.number }} Verses</h4>

<div class="" id="books-div">
    <div class="" id="create">
        <h5>Add Verse to {{ book.name }} {{ chapter.number }}</h5>
        {% include 'includes/error-message.twig' %}
        <form method="post">
            <div class="row mb-0">
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <label for="number">* Verse Number</label>
                    <input type="number" class="form-control" id="number" name="number" placeholder="1" required min="1" max="176"/>
                </div>
            </div>
            <button class="btn btn-sm btn-primary mt-2" type="submit" name="action"><i class="fas fa-save"></i> Add Verse</button>
        </form>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <table class="table table-striped table-bordered" id="verses-table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for verse in verses %}
                        <tr>
                            <td>{{ verse.number }}</td>
                            <td>
                                <a class="btn btn-sm btn-danger" href="{{ app.yurl('/admin/books/' ~ book.bookID ~ '/chapters/' ~ chapter.chapterID ~ '/verses/' ~ verse.verseID ~ '/delete') }}"><i class="fas fa-trash-alt"></i> Delete Verse</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        datatablesProps.columnDefs = [
            { orderable: false, targets: [-1] }
        ];
        datatablesProps.language = {
            searchPlaceholder: "Search verses..."
        };
        datatablesProps.order = [[ 0, 'asc' ]];
        $('#verses-table').DataTable(datatablesProps);
    });
</script>

{% endblock %}
