{% extends "layouts/main.twig" %}

{% block content %}

<p><a class="btn-flat blue-text waves-effect waves-blue no-uppercase" href="{{ app.yurl('/admin') }}">Back</a></p>

<h4>Bible Books</h4>

<div class="" id="books-div">
    <div class="" id="create">
        <h5>Add Book for Current Year ({{ currentYear.year }})</h5>
        {% include 'includes/error-message.twig' %}
        <form action="{{ app.yurl('/admin/books/create') }}" method="post">
            <div class="row">
                <div class="input-field col s6 m4">
                    <input type="text" id="name" name="name" value="" placeholder="2 Kings" required data-length="150"/>
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s6 m4">
                    <input type="number" id="number-chapters" name="number-chapters" placeholder="1" value="" required min="1" max="150"/>
                    <label for="number-chapters">Number of Chapters</label>
                </div>
                <div class="input-field col s6 m4">
                    <button class="inline btn waves-effect waves-light submit" type="submit" name="action">Add Book</button>
                </div>
            </div>
        </form>
    </div>
    <div class="divider"></div>
    <div class="">
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Chapters</th>
                    <th>Year</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.name }}</td>
                        <td>{{ book.numberChapters }}</td>
                        <td>{{ book.year }}</td>
                        <td>
                            <a class="waves-effect waves-light btn" href="{{ app.yurl('/admin/books/' ~ book.bookID ~ '/chapters') }}">Manage Chapters</a>
                        </td>
                        <td>
                            <a class="waves-effect waves-light btn red white-text" href="{{ app.yurl('/admin/books/' ~ book.bookID ~ '/delete') }}">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
