{% extends "layouts/main.twig" %}

{% block headers %}

{% include 'includes/scripts/datatables.twig' %}

{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Bible Books</li>
    </ol>
</nav>

<h4>Bible Books</h4>

<div class="" id="books-div">
    <div class="" id="create">
        <h5>Add Book for Current Year ({{ currentYear.year }})</h5>
        {% include 'includes/error-message.twig' %}
        <form action="{{ app.yurl('/admin/books/create') }}" method="post">
            <div class="row mb-0">
                <div class="form-group col-sm-6 col-md-4">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="name" value="{{ bookName }}" placeholder="2 Kings" required maxlength="150"/>
                </div>
                <div class="form-group col-sm-6 col-md-4">
                    <label for="number-chapters">Number of Chapters</label>
                    <input class="form-control" type="number" id="number-chapters" name="number-chapters" placeholder="1" value="{{ numberOfChapters }}" required min="1" max="150"/>
                </div>
                <div class="form-group col-sm-6 col-md-4 mt-1">
                    <label for="number-chapters">Bible Book Order</label>
                    <input class="form-control" type="number" id="bible-order" name="bible-order" placeholder="1" value="{{ bibleOrder }}" required min="1" max="66"/>
                    <small>(Genesis = 1, Exodus = 2, Matthew = 40...)</small>
                </div>
            </div>
            <div class="row mt-0">
                <div class="input-field col">
                    <button class="inline btn btn-sm btn-primary submit" type="submit" name="action"><i class="fas fa-save"></i> Add Book</button>
                </div>
            </div>
        </form>
    </div>
    <hr/>
    <div class="">
        <table class="table table-striped table-responsive table-bordered" id="books-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Chapters</th>
                    <th>Bible Order</th>
                    <th>Year</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.name }}</td>
                        <td>{{ book.numberChapters }}</td>
                        <td>{{ book.bibleOrder }}</td>
                        <td>{{ book.year }}</td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-info" href="{{ app.yurl('/admin/books/' ~ book.bookID ~ '/chapters') }}"><i class="fas fa-eye"></i> Manage Chapters</a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-primary" href="{{ app.yurl('/admin/books/' ~ book.bookID ~ '/edit') }}"><i class="fas fa-pencil"></i> Edit</a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-danger" href="{{ app.yurl('/admin/books/' ~ book.bookID ~ '/delete') }}"><i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        datatablesProps.columnDefs = [
            { orderable: false, targets: [-1, -2, -3] }
        ];
        datatablesProps.language = {
            searchPlaceholder: "Search books..."
        };
        datatablesProps.order = [[ 2, 'asc' ]];
        $('#books-table').DataTable(datatablesProps);
    });
</script>

{% endblock %}
