{% extends "layouts/main.twig" %}

{% block headers %}

{{ include('includes/scripts/select2.twig') }}

{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/matching-question-sets') }}">Matching Question Sets</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ isCreating ? 'Create Matching Question Set' : 'Edit Matching Question Set' }}</li>
    </ol>
</nav>

<h4>{{ isCreating ? 'Create Matching Question Set' : 'Edit Matching Question Set' }}</h4>

{% include 'includes/error-message.twig' %}

<div>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group col-sm-12 col-md-4">
                <label for="name">* Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ questionSet.name }}" required maxlength="100" placeholder="Who's Who in Joshua 2"/>
            </div>
        </div>
        <div class="row mt-1">
            <div class="form-group col-sm-12 col-md-5">
                <label for="description">Description</label>
                <textarea id="description" class="form-control" name="description" class="materialize-textarea" 
                        placeholder="Matching questions for 1 Kings names and length of reigns"
                        maxlength="1000">{{ questionSet.description }}</textarea>
            </div>
        </div>
        <div class="row mt-1">
            <div class="form-group col-sm-6 col-md-4">
                <label for="year">* PBE Year</label>
                <select id="year" class="form-control" name="year" required autocomplete="off">
                    {% for year in years %}
                        <option value="{{ year.yearID }}">{{ year.year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-6 col-md-4">
                <label for="language">Language</label>
                <select id="language" class="form-control" name="language" autocomplete="off">
                    <option id="language-no-selection-option" value="">Select a language...</option>
                    {% for language in languages %}
                        <option value="{{ language.languageID }}">{{ language.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if isCreating %}
            <div class="row mt-2">
                <div class="col-sm-12 col-md-6">
                    <p class="mb-0">If you want to automatically create matching questions when creating this matching question set, upload a CSV file with those questions here. The first column must be the question, and the second column must be the answer. The CSV can be UTF8-encoded. The importer will stop at the first blank row.</p>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-12 col-md-4">
                    <label for="csv"><em>Choose CSV File...</em></label>
                    <input class="form-control" type="file" id="csv" name="csv" accept=".csv,text/csv">
                </div>
            </div>
        {% endif %}
        <div class="row mt-4">
            <div class="col-sm-12 col-md-4">
                <button class="btn btn-primary btn-sm" type="submit" name="action"><i class="fas fa-save"></i> {{ isCreating ? 'Create Matching Question Set' : 'Save Changes' }}</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).ready(function() {
        var questionSet = {{ json_encode(questionSet) | raw }};
        var currentYear = {{ json_encode(currentYear) | raw }};
        if (questionSet === null) {
            $('#language').val('');
            $('#year').val(currentYear.yearID);
        } else {
            $('#language').val(questionSet.languageID > 0 ? questionSet.languageID : -1);
            $('#year').val(questionSet.yearID > 0 ? questionSet.yearID : currentYear.yearID);
        }
        $('#year').select2({
            theme: 'bootstrap-5',
            placeholder: 'Select a year...',
            searchInputPlaceholder: 'Search years...',
            allowClear: false
        });
        $('#language').select2({
            theme: 'bootstrap-5',
            placeholder: 'Select a language...',
            searchInputPlaceholder: 'Search languages...',
            allowClear: true
        });
    });
</script>

{% endblock %}
