{% extends "layouts/main.twig" %}

{% block content %}

<p><a class="btn-flat blue-text waves-effect waves-blue no-uppercase" href="{{ app.yurl('/admin/matching-question-sets') }}">Back</a></p>

<h4>{{ isCreating ? 'Create' : 'Edit' }} Matching Question Set</h4>

{% include 'includes/error-message.twig' %}

<div>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12 m4">
                <input type="text" id="name" name="name" value="{{ questionSet.name }}" required data-length="100"/>
                <label for="name">* Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m4">
                <textarea id="description" name="description" class="materialize-textarea" 
                        placeholder="Matching questions for 1 Kings names and length of reigns"
                        data-length="1000">{{ questionSet.description }}</textarea>
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 m4">
                <select id="year" name="year" required autocomplete="off">
                    {% for year in years %}
                        <option value="{{ year.yearID }}">{{ year.year }}</option>
                    {% endfor %}
                </select>
                <label>* Year</label>
            </div>
            <div class="input-field col s6 m4">
                <select id="language" name="language" autocomplete="off">
                    <option id="language-no-selection-option" value="-1">Select a language...</option>
                    {% for language in languages %}
                        <option value="{{ language.languageID }}">{{ language.name }}</option>
                    {% endfor %}
                </select>
                <label>Language</label>
            </div>
        </div>
        {% if isCreating %}
            <p>If you want to automatically create matching questions when creating this matching question set, upload a CSV file with those questions here. The first column must be the question, and the second column must be the answer. The CSV must not be UTF8-encoded. The importer will stop at the first blank row.</p>
            <div class="row">
                <div class="col s12 m6">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Choose CSV File</span>
                            <input type="file" id="csv" name="csv" accept=".csv,text/csv">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col s12 m4">
                <button class="btn waves-effect waves-light submit blue" type="submit" name="action">{{ isCreating ? 'Create Matching Question Set' : 'Save Changes' }}</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var questionSet = {{ json_encode(questionSet) | raw }};
        var currentYear = {{ json_encode(currentYear) | raw }};
        if (questionSet === null) {
            $('#language').val('');
            $('#year').val(currentYear.yearID);
        } else {
            $('#language').val(questionSet.languageID > 0 ? questionSet.languageID : -1);
            $('#year').val(questionSet.yearID > 0 ? questionSet.yearID : currentYear.yearID);
        }
        $('select').material_select();
        fixRequiredSelectorCSS();
    });
</script>

{% endblock %}
