{% extends "layouts/main.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/matching-question-sets') }}">Matching Question Sets</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/matching-question-sets/' ~ questionSet.matchingQuestionSetID ~ '/questions') }}">Matching Questions for {{ questionSet.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete Matching Question</li>
    </ol>
</nav>

<h2>Delete Matching Question</h2>

{% include 'includes/error-message.twig' %}

<div id="delete-club">
    <h4> Are you sure you want to delete the matching question "{{ question.question }}" with answer: "{{ question.answer }}" in the matching question set {{ questionSet.name }}? </h4>
    <form method="post">
        {{ csrf('delete-matching-question') | raw }}
        <button class="btn btn-danger btn-sm" type="submit" name="action"><i class="fas fa-trash-alt"></i> Delete Matching Question</button>
    </form>
</div>

{% endblock %}