{% extends "layouts/main.twig" %}

{% block headers %}

{% include 'includes/scripts/datatables.twig' %}

{% endblock %}

{% block content %}

<p><a class="btn-flat blue-text waves-effect waves-blue no-uppercase" href="{{ app.yurl('/admin') }}">Back</a></p>

<h4>Matching Question Sets</h4>

<p><a class="btn waves-effect waves-light" href="{{ app.yurl('/admin/matching-question-sets/create') }}">Add Matching Question Set</a></p>

<div class="" id="matching-questions-div">
    <div class="">
        <table class="striped responsive-table" id="matching-questions-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Number of Questions</th>
                    <th>Language</th>
                    <th>Year</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for questionSet in questionSets %}
                    <tr>
                        <td>{{ questionSet.name }}</td>
                        <td>{{ questionSet.description }}</td>
                        <td>{{ questionSet.questions | length }}</td>
                        <td>{{ languagesByID[questionSet.languageID].getDisplayName() }}</td>
                        <td>{{ yearsByID[questionSet.yearID].year }}</td>
                        <td>
                            <a class="waves-effect waves-light btn" href="{{ app.yurl('/admin/matching-question-sets/' ~ questionSet.matchingQuestionSetID ~ '/questions') }}">Manage Questions</a>
                            <a class="waves-effect waves-light btn blue" href="{{ app.yurl('/admin/matching-question-sets/' ~ questionSet.matchingQuestionSetID ~ '/edit') }}">Edit</a>
                            <a class="waves-effect waves-light btn red white-text" href="{{ app.yurl('/admin/matching-question-sets/' ~ questionSet.matchingQuestionSetID ~ '/delete') }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        datatablesProps.columnDefs = [
            { orderable: false, targets: [-1] }
        ];
        datatablesProps.language = {
            searchPlaceholder: "Search..."
        };
        datatablesProps.order = [[ 0, 'asc' ]];
        $('#matching-questions-table').DataTable(datatablesProps);
    });
</script>

{% endblock %}
