{% extends "layouts/main.twig" %}

{% block headers %}

{{ include('includes/scripts/select2.twig') }}

{% endblock %}

{% block content %}

{% set areAnyQuestionsAvailable = (chapters | length > 0) or (commentaries | length > 0) %}
{% set lastBookSeen = '' %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quiz Setup</li>
    </ol>
</nav>

<h4>Quiz Setup</h4>
{% if areAnyQuestionsAvailable %}
<div id="start-quiz">
    <form id="quiz-setup-form" method="post">
        <p class="mb-0"><strong>Choose Bible Chapters &amp; Commentary Volumes to Be Quizzed On</strong></p>
        <p class="mb-1">For Bible Q&amp;A questions, questions are loaded by chapter based on the question's start verse.</p>
        <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label for="quiz-items">Filter Bible Chapters &amp; Bible Commentaries</label>
                <select multiple class="form-control" id="quiz-items" name="quiz-items[]">
                    {% for chapter in chapters %}
                        {% if lastBookSeen != chapter.bookID %}
                            {% if lastBookSeen != '' and lastBookSeen != chapter.bookID %}
                                </optgroup>
                            {% endif %}
                            {% if booksByBookID[chapter.bookID] %}
                                <optgroup label="{{ booksByBookID[chapter.bookID].name }}">
                            {% endif %}
                            {% set lastBookSeen = chapter.bookID %}
                        {% endif %}
                        {% if booksByBookID[chapter.bookID] %}
                            <option value="chapter-{{ chapter.chapterID }}">{{ booksByBookID[chapter.bookID].name }}&nbsp;{{ chapter.number }}</option>
                        {% endif %}
                    {% endfor %}
                    {% if chapters |length > 0 %}
                        </optgroup>
                    {% endif %}
                    <optgroup label="SDA Bible Commentary">
                        {% for commentary in commentaries %}
                            <option value="commentary-{{ commentary.commentaryID }}">{{ commentary.getDisplayValue() }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
                <small>By default, all Bible and Commentary materials are used when generating a quiz.</small>
            </div>
            <div class="form-group col-sm-12 col-md-3 col-lg-3" id="quiz-setup-language-select-container">
                <label for="language-select">Filter by language</label>
                <select id="language-select" class="form-control" name="language-select">
                    <option value="-1">No language filter</option>
                    {% for language in languages %}
                        {% set selected = language.languageID == userLanguage.languageID ? 'selected' : '' %}
                        <option value="{{ language.languageID }}" {{ selected }}>{{ language.getDisplayName() }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <p class="mt-2 mb-0"><strong>Weighted Question Distribution</strong></p>
        <div class="row">
            <div class="col-sm-12">
                <input type="checkbox" id="enable-question-distribution" name="enable-question-distribution"/>
                <label class="black-text" for="enable-question-distribution">Enable weighted question distribution</label>
            </div>
        </div>
        <p class="weighted-distribution-help">For weighted question distribution, questions will be drawn from all of the chosen chapters or commentaries with the given percentage weights applied to the number of questions for the quiz. For instance, if there are 90 total questions, and the weight for 2 Kings 3 is 10%, then 9 questions from 2 Kings 3 (10% of 90) will show up in the quiz. For any chapter/commentary weight percentages left blank, the quiz generator will <em>attempt</em> to select an equal amount of questions for each area. As another example, for an even question distrubution between 3 chapters, simply choose those three chapters and do not enter any weights by leaving them blank (0% is treated as blank).</p>
        <p class="weighted-distribution-help">You must have at least one Bible chapter or commentary selected for the weighted distribution option to work. If weights do not equal 100% or there is no chapter with a weight left blank or at 0% for the quiz setup to know which chapters/commentaries to choose for the remaining questions, the total number of questions in the quiz will not be equal to the total amount of quiz questions requested below.</p>
        <div class="row">
            <div class="col l5 m7 s12">
                <table id="weighted-question-table" class="bordered highlight responsive-table">
                    <thead id="weighted-question-table-header">
                        <tr>
                            <th>Chapter/Commentary</th>
                            <th>Weight (%)</th>
                        </tr>
                    </thead>
                    <tbody id="weighted-question-table-body">
                        {% for chapter in chapters %}
                            <tr id="table-chapter-{{ chapter.chapterID }}">
                                <td>
                                    <label for="table-input-chapter-{{ chapter.chapterID }}">{{ booksByBookID[chapter.bookID].name }}&nbsp;{{ chapter.number }}</label>
                                </td>
                                <td>
                                    <input id="table-input-chapter-{{ chapter.chapterID }}" name="table-input-chapter-{{ chapter.chapterID }}" class="table-input form-control"  type="number" value="" min="0" max="100"></input>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for commentary in commentaries %}
                            <tr id="table-commentary-{{ commentary.commentaryID }}">
                                <td>
                                    <label for="table-input-commentary-{{ commentary.commentaryID }}">{{ commentary.getDisplayValue() }}</label>
                                </td>
                                <td>
                                    <input id="table-input-commentary-{{ commentary.commentaryID }}" name="table-input-commentary-{{ commentary.commentaryID }}" class="table-input form-control" type="number" value="" min="0" max="100"></input>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>    
            </div>
        </div>
        <p class="mt-2 mb-0"><strong>Maximum number of questions and maximum number of points per question</strong></p>
        <div class="row mb-0">
            <div class="form-group col-sm-6 col-md-3">
                <label for="max-questions">Maximum Questions</label>
                <input type="number" class="form-control" id="max-questions" name="max-questions" required value="30" max="{{ app.isGuest ? 100 : 500 }}" min="1"/>
            </div>
            <div class="form-group col-sm-6 col-md-4">
                <label for="max-points">Maximum Points for Q&amp;A Questions</label>
                <input type="number" class="form-control" id="max-points" name="max-points" required value="10" max="500" min="0"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-3">
                <p id="question-types" class="mb-0"><strong>Question types</strong></p>
                <div class="form-group mt-0">
                    <input type="radio" class="with-gap" name="question-types" id="both" value="both"/>
                    <label class="black-text" for="both">Both Q&amp;A and fill in the blank</label>
                </div>
                <div class="form-group mt-0">
                    <input type="radio" class="with-gap" name="question-types" id="qa-only" value="qa-only" checked/>
                    <label class="black-text" for="qa-only">Q&amp;A only</label>
                </div>
                <div class="form-group mt-0">
                    <input type="radio" class="with-gap" name="question-types" id="fill-in-only" value="fill-in-only"/>
                    <label class="black-text" for="fill-in-only">Fill in the blank only</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <p id="question-order" class="mb-0"><strong>Question selection and order</strong></p>
                <div class="form-group mt-0">
                    <input type="radio" class="with-gap text-blue" name="order" id="sequential-sequential" value="sequential-sequential" />
                    <label class="black-text" for="sequential-sequential">Sequential</label>
                </div>
                <div class="form-group mt-0">
                    <input type="radio" class="with-gap" name="order" id="random-sequential" value="random-sequential" checked/>
                    <label class="black-text" for="random-sequential">Random selection and sequential order</label>
                </div>
                <div class="form-group mt-0">
                    <input type="radio" class="with-gap" name="order" id="random-random" value="random-random"  />
                    <label class="black-text" for="random-random">Random selection and random order</label>
                </div>
            </div>
        </div>
        <div class="row mt-2" id="fill-in-question-options">
            <div class="form-group col-sm-5" id="fill-in-percent-questions-div">
                <label for="fill-in-percent-questions">Maximum Ratio of Fill in the Blank Questions to Q&amp;A Questions</label>
                <input type="number" class="form-control" name="fill-in-percent-questions" id="fill-in-percent-questions" value="10" min="0" max="100" placeholder="10"/>
                <small>Range: 0% - 100%</small>
            </div>
            <div class="form-group col-sm-5" id="fill-in-percent-div">
                <label for="fill-in-percent">% Blanks in Fill in the Blank Questions</label>
                <input type="number" class="form-control" name="fill-in-percent" id="fill-in-percent" value="30" min="1" max="100" placeholder="30"/>
                <small>Range: 1% - 100%</small>
            </div>
        </div>
        <p class="mt-2 mb-0"><strong>Question timer</strong></p>
        <div class="row">
            <div class="form-group col-sm-12">
                <input type="checkbox" id="disable-question-timer" name="disable-question-timer">
                <label class="black-text" for="disable-question-timer">Disable question timer</label>
            </div>
            <div class="form-group col-sm-12">
                <input type="checkbox" id="autoshow-answer" name="autoshow-answer">
                <label class="black-text" for="autoshow-answer">Disable automatically showing the answer when the timer finishes</label>
            </div>
        </div>
        <p class="mt-2 mb-0"><strong>Question history</strong></p>
        <div class="row">
            <div class="form-group col-sm-12">
                <input type="checkbox" id="no-questions-answered-correct" name="no-questions-answered-correct"/>
                <label class="black-text" for="no-questions-answered-correct">Don't see questions answered correctly in the past.</label>
                <br/>
                <small>Make sure you click the Save Answers button after finishing a quiz for this to work properly! This feature does not consider flagged questions or flagged reasons.</small>
            </div>
        </div>
        <p class="mt-2 mb-0"><strong>Flash card and PowerPoint options (<em>Only apply to flash cards and PowerPoint</em>)</strong></p>
        <div class="row">
            <div class="form-group col-sm-12 mt-1">
                <input type="checkbox" id="flash-show-recently-added" name="flash-show-recently-added"/>
                <label class="black-text" for="flash-show-recently-added">Show recently added questions (overrides ALL above settings, including weighted question distribution!)</label>
            </div>
            <div class="form-group col-sm-12 col-md-6 mt-1">
                <label for="flash-recently-added-days">Number of days to go back in time for recently added questions</label>
                <input type="number" class="form-control" name="flash-recently-added-days" id="flash-recently-added-days" value="30" min="1" max="31" placeholder="31"/>
            </div>
        </div>
        <div class="row mt-1">
            <div class="form-group col-sm-12">
                <input type="checkbox" id="flash-full-fill-in" name="flash-full-fill-in"/>
                <label class="black-text" for="flash-full-fill-in">View fill in the blank as full text with answers in <strong>bold</strong></label>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="form-group col-sm-12 col-md-10">
                <button id="start-quiz-btn" class="btn btn-primary submit" type="button"><i class="fas fa-award fa-lg"></i> Start Quiz</button>
                <br/>
                <button id="lr-flash-cards-btn" class="flash-cards-btn btn btn-sm btn-info indigo" type="button"><i class="fas fa-file-pdf"></i> Left/Right Flash Cards</button>
                <button id="fb-flash-cards-btn" class="flash-cards-btn btn btn-sm btn-tertiary blue" type="button"><i class="fas fa-file-pdf"></i> Front/Back Flash Cards</button>
                <button id="presentation-btn" class="flash-cards-btn btn btn-sm btn-primary purple" type="button"><i class="fas fa-file-powerpoint"></i> PowerPoint Presentation</button>
            </div>
        </div>
        <hr/>
        <div class="form-group col-sm-6">
            <a id="save-data" class="btn btn-sm btn-danger" href="{{ app.yurl('/quiz/answers/remove') }}"><i class="fas fa-trash-alt"></i> Delete previously saved answers</a>
        </div>
    </form>
</div>
{% else %}
    <div id="start-quiz">
        <p>Sorry! No quiz questions have been created yet! Why don't you go <a href="{{ app.yurl('/questions/add') }}">create one</a>?</p>
    </div>
{% endif %}

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).ready(function() {

        $('#quiz-items').select2({
            theme: 'bootstrap-5',
            placeholder: 'Select items to filter the question bank by...',
            searchInputPlaceholder: 'Search items...',
            allowClear: true
        }).on('select2:unselecting', function() {
            // prevent opening when clearing:
            // https://github.com/select2/select2/issues/3320#issuecomment-780660819
            $(this).data('unselecting', true);
        }).on('select2:opening', function(e) {
            if ($(this).data('unselecting')) {
                $(this).removeData('unselecting');
                e.preventDefault();
            }
        });
        $('#language-select').select2({
            theme: 'bootstrap-5',
            placeholder: 'Select language...',
            searchInputPlaceholder: 'Search languages...',
            allowClear: false
        });

        var bibleQuestionType = document.getElementById('quiz-items');

        var quizForm = document.getElementById('quiz-setup-form');
        var quizItemSelector = document.getElementById('quiz-items');
        
        var enableQuestionDistributionCheckbox = document.getElementById('enable-question-distribution');

        function calculateQuestionDistributionTotal() {
            if (enableQuestionDistributionCheckbox.checked) {
                var total = 0;
                $('#weighted-question-table input:visible').each(function(index, element) {
                    if (element.value != "") {
                        total += parseInt(element.value);
                    }
                });
                return total;
            }
            return 0;
        }

        function hasNegativeQuestionDistribution() {
            if (enableQuestionDistributionCheckbox.checked) {
                var hasNegativeQuestionDistribution = false;
                $('#weighted-question-table input:visible').each(function(index, element) {
                    if (element.value != "") {
                        var number = parseInt(element.value);
                        if (number < 0) {
                            hasNegativeQuestionDistribution = true;
                            return false;
                        }
                    }
                });
                return hasNegativeQuestionDistribution;
            }
            return false;
        }

        // return true if OK to go ahead with form submit; false otherwise
        function checkQuestionDistributionTotal() {
            if (enableQuestionDistributionCheckbox.checked) {
                var hasItemSelected = false;
                for (var i = 0; i < quizItemSelector.options.length; i++) {
                    var option = quizItemSelector.options[i];
                    if (option.value !== "" && option.value !== "All" && option.selected) {
                        hasItemSelected = true;
                        break;
                    }
                }
                if (hasItemSelected) {
                    if (hasNegativeQuestionDistribution()) {
                        alert('Negative question distribution weights are not allowed.');
                        return false;
                    }
                    var total = calculateQuestionDistributionTotal();
                    if (total < 0 || total > 100) {
                        alert('Question distribution total must be between 0% and 100%. It is currently at ' + total + '%.');
                        return false;
                    }
                }
            }
            return true;
        }

        $('#start-quiz-btn').on("click", function() {
            if (checkQuestionDistributionTotal()) {
                $(quizForm).attr('target', '_blank');
                $(quizForm).attr('action', '{{ app.yurl('/quiz/take') }}');
                $(quizForm).submit();
            }
        });
        $('#lr-flash-cards-btn').on("click", function() {
            if (checkQuestionDistributionTotal()) {
                $(quizForm).attr('target', '_blank');
                $(quizForm).attr('action', '{{ app.yurl('/quiz/flash-cards/left-right') }}');
                $(quizForm).submit();
            }
        });
        $('#fb-flash-cards-btn').on("click", function() {
            if (checkQuestionDistributionTotal()) {
                $(quizForm).attr('target', '_blank');
                $(quizForm).attr('action', '{{ app.yurl('/quiz/flash-cards/front-back') }}');
                $(quizForm).submit();
            }
        });
        $('#presentation-btn').on("click", function() {
            if (checkQuestionDistributionTotal()) {
                $(quizForm).attr('target', '_blank');
                $(quizForm).attr('action', '{{ app.yurl('/quiz/presentation') }}');
                $(quizForm).submit();
            }
        });

        $(enableQuestionDistributionCheckbox).change(function() {
            if (this.checked) {
                $('#weighted-question-table').show();
                $('.weighted-distribution-help').show();
            }
            else {
                $('#weighted-question-table').hide();
                $('.weighted-distribution-help').hide();
            }
        });

        $(quizItemSelector).change(function() {
            var isShowingWeightedDistributionItem = false;
            for (var i = 0; i < this.options.length; i++) {
                var option = this.options[i];
                var value = option.value;
                if (value !== "" && value !== "All") {
                    var tableSelector = 'table-' + value;
                    if (option.selected) {
                        $('#' + tableSelector).show();
                        isShowingWeightedDistributionItem = true;
                    }
                    else {
                        $('#' + tableSelector).hide();
                    }
                }
            }
            if (isShowingWeightedDistributionItem) {
                $('#weighted-question-table-header').show();
            }
            else {
                $('#weighted-question-table-header').hide();
            }
        });

        $("#enable-question-distribution").trigger("change");
        $("#quiz-items").trigger("change");

        // 
        var bothQuestionTypesRadio = document.getElementById('both');
        var onlyQAQuestionsRadio = document.getElementById('qa-only');
        var onlyFIBQuestionsRadio = document.getElementById('fill-in-only');
        function handleQuestionTypeChange() {
            document.getElementById('fill-in-percent-questions-div').style.display = '';
            if (onlyQAQuestionsRadio.checked) {
                document.getElementById('fill-in-question-options').style.display = 'none';
            } else {
                document.getElementById('fill-in-question-options').style.display = '';
                if (onlyFIBQuestionsRadio.checked) {
                    document.getElementById('fill-in-percent-questions-div').style.display = 'none';
                }
            }
        }
        bothQuestionTypesRadio.addEventListener('change', function() {
            handleQuestionTypeChange();
        });
        onlyQAQuestionsRadio.addEventListener('change', function() {
            handleQuestionTypeChange();
        });
        onlyFIBQuestionsRadio.addEventListener('change', function() {
            handleQuestionTypeChange();
        });
        handleQuestionTypeChange();
    });
</script>

{% endblock %}
