{% extends 'layouts/main.twig' %}

{% block headers %}

{% include 'includes/scripts/datatables.twig' %}

{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Bible Fill in the Blank Questions</li>
    </ol>
</nav>

<h4>Bible Fill in the Blank Questions</h4>

{% for language in languages %}
    {% set isAreString = totalsByLanguage[language.languageID] == 1 ? 'is' : 'are' %}
    {% set questionString = totalsByLanguage[language.languageID] == 1 ? 'question' : 'questions' %}
    <p>There {{ isAreString }} a total of {{ (totalsByLanguage[language.languageID] ?? 0) | number_format }} {{ language.getDisplayName() }} Bible fill in the blank {{ questionString }} in the system out of a maximum of 500.</p>
{% endfor %}

{% if totalQuestions > 0 %}
    <div id="bible-fill-in-div">
        <table class="table table-striped table-bordered" id="data-table">
            <thead>
                <tr>
                    <th>Chapter</th>
                    <th>Language</th>
                    <th>Number of Fill In Questions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for data in fillInData %}
                    {% set questionString = data.numberOfQuestions == 1 ? 'question' : 'questions' %}
                    <tr>
                        <td><strong>{{ data.bookName }}&nbsp;{{ data.chapterNumber }}</strong></td>
                        <td><strong>{{ data.language.getDisplayName() }}</strong></td>
                        <td>{{ data.numberOfQuestions | number_format }} {{ questionString }}</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="{{ app.yurl('/admin/bible-fill-ins/' ~ data.chapterID ~ '/' ~ data.language.languageID ~ '/letter-pdf') }}"><i class="fas fa-file-pdf"></i> Generate Letter PDF</a>
                            <a class="btn btn-sm btn-danger" href="{{ app.yurl('/admin/bible-fill-ins/' ~ data.chapterID ~ '/' ~ data.language.languageID ~ '/delete') }}"><i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr/>

        {% for language in languages %}
            <p><a class="btn btn-sm btn-danger" href="{{ app.yurl('/admin/bible-fill-ins/' ~ language.languageID ~ '/delete') }}"><i class="fas fa-trash-alt"></i> Delete All {{ language.getDisplayName() }} Bible Fill In Questions</a></p>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).ready(function() {
        datatablesProps.columnDefs = [
            { orderable: false, targets: [-1] }
        ];
        datatablesProps.language = {
            searchPlaceholder: 'Search data...'
        };
        datatablesProps.order = [[ 0, 'asc' ]];
        $('#data-table').DataTable(datatablesProps);
    });
</script>

{% endblock %}