{% extends 'layouts/main.twig' %}

{% block content %}

<p><a class="btn-flat blue-text waves-effect waves-blue no-uppercase" href="{{ app.yurl('/admin') }}">Back</a></p>

<h4>Bible Fill in the Blank Questions</h4>

{% for language in languages %}
    {% set isAreString = totalsByLanguage[language.languageID] == 1 ? 'is' : 'are' %}
    {% set questionString = totalsByLanguage[language.languageID] == 1 ? 'question' : 'questions' %}
    <p>There {{ isAreString }} a total of {{ (totalsByLanguage[language.languageID] ?? 0) | number_format }} {{ language.getDisplayName() }} Bible fill in the blank {{ questionString }} in the system out of a maximum of 500.</p>
{% endfor %}

{% if totalQuestions > 0 %}
    <div id="bible-fill-in-div">
        <table class="striped">
            <thead>
                <tr>
                    <th>Chapter</th>
                    <th>Language</th>
                    <th>Number of Fill In Questions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for data in fillInData %}
                    {% set questionString = data.numberOfQuestions == 1 ? 'question' : 'questions' %}
                    <tr>
                        <td><b>{{ data.bookName }}&nbsp;{{ data.chapterNumber }}</b></td>
                        <td><b>{{ data.language.getDisplayName() }}</b></td>
                        <td>{{ data.numberOfQuestions | number_format }} {{ questionString }}</td>
                        <td>
                            <a class="waves-effect waves-light btn blue white-text" href="{{ app.yurl('/admin/bible-fill-ins/' ~ data.chapterID ~ '/' ~ data.language.languageID ~ '/letter-pdf') }}">Generate Letter PDF</a>
                            <a class="waves-effect waves-light btn red white-text" href="{{ app.yurl('/admin/bible-fill-ins/' ~ data.chapterID ~ '/' ~ data.language.languageID ~ '/delete') }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="divider"></div>

        {% for language in languages %}
            <p><a class="waves-effect waves-light btn red white-text" href="{{ app.yurl('/admin/bible-fill-ins/' ~ language.languageID ~ '/delete') }}">Delete All {{ language.getDisplayName() }} Bible Fill In Questions</a></p>
        {% endfor %}
    </div>
{% endif %}

<script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
        fixRequiredSelectorCSS();
    });
</script>

{% endblock %}