{% extends 'layouts/main.twig' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/non-blankable-words') }}">Non-blankable Words</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ isCreating ? 'Create Non-blankable Word' : 'Edit Non-blankable Word' }}</li>
    </ol>
</nav>

<h4>{{ isCreating ? 'Create Non-blankable Word' : 'Edit Non-blankable Word' }}</h4>

{% include 'includes/error-message.twig' %}

<div id="create-edit-non-blankable-word">
    <form method="post">
        <div class="row">
            <div class="form-group col-sm-12 col-md-4">
                <label for="blankable-word">* Non-blankable Word</label>
                <input type="text" class="form-control" id="blankable-word" name="blankable-word" value="{{ nonBlankableWord.word }}" placeholder="from" required maxlength="300"/>
            </div>
        </div>
        <button class="btn btn-sm btn-primary mt-2" type="submit" name="action"><i class="fas fa-save"></i> {{ isCreating ? 'Add Word' : 'Save Changes' }}</button>
    </form>
</div>

{% endblock %}