
{% extends "layouts/main.twig" %}

{% block headers %}

{% include 'includes/scripts/datatables.twig' %}

{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Non-blankable Words</li>
    </ol>
</nav>

<h4>Non-blankable Words</h4>

<div id="words-div">
    <p>Non-blankable words will NOT be replaced by ___ blanks when generating fill-in-the-blank questions.</p>
    <div class="section" id="create">
        <h5>Add Non-blankable Word</h5>
        <form action="{{ app.yurl('/admin/non-blankable-words/create') }}" method="post">
            <div class="row">
                <div class="form-group col-sm-12 col-md-4">
                    <label for="blankable-word">Non-blankable Word</label>
                    <input type="text" class="form-control" id="blankable-word" name="blankable-word" value="" placeholder="from" required maxlength="300"/>
                </div>
            </div>
            <button class="btn btn-sm btn-primary mt-2" type="submit" name="action"><i class="fas fa-plus"></i> Add Word</button>
        </form>
    </div>
    <hr/>
    {% if nonBlankableWords | length > 0 %}
        <table class="table table-striped table-bordered" id="words-table">
            <thead>
                <tr>
                    <th>Word</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for word in nonBlankableWords %}
                    <tr>
                        <td>{{ word.word }}</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="{{ app.yurl('/admin/non-blankable-words/' ~ word.wordID ~ '/edit') }}"><i class="fas fa-pencil"></i> Edit Word</a>
                            <a class="btn btn-sm btn-danger" href="{{ app.yurl('/admin/non-blankable-words/' ~ word.wordID ~ '/delete') }}"><i class="fas fa-trash-alt"></i> Delete Word</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<script type="text/javascript">
    $(document).ready(function() {
        datatablesProps.columnDefs = [
            { orderable: false, targets: [-1, -2] }
        ];
        datatablesProps.language = {
            searchPlaceholder: "Search words..."
        };
        datatablesProps.order = [[ 0, 'asc' ]];
        $('#words-table').DataTable(datatablesProps);
    });
</script>

{% endblock %}
