{% extends "layouts/main.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/questions') }}">Questions</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete Question</li>
    </ol>
</nav>

<h2>Delete Question</h2>

{% include 'includes/error-message.twig' %}

<div id="delete-question">
    {% if question.isFillIn() %}
        {% if question.isBibleQnA() %}
            <h4>Are you sure you want to delete the Fill in the Blank question <code>{{ question.question }}</code> for {{ bookDataByVerseID[question.startVerseID].book.name }} {{ bookDataByVerseID[question.startVerseID].chapter.number }}:{{ bookDataByVerseID[question.startVerseID].verse.number }}?</h4>
        {% else %}
            <h4>Are you sure you want to delete the commentary Fill in the Blank question <code>{{ question.question }}</code> with answer <code>{{ question.answer | default('[no answer]')}}</code> for the SDA Bible Commentary on {{ commentariesByID[question.commentaryID].topicName }}?</h4>
        {% endif %}
    {% else %}
        {% if question.isBibleQnA() %}
            <h4>Are you sure you want to delete the Q&amp;A question <code>{{ question.question }}</code> with answer <code>{{ question.answer | default('[no answer]')}}</code> that covers verse {{ bookDataByVerseID[question.startVerseID].book.name }} {{ bookDataByVerseID[question.startVerseID].chapter.number }}:{{ bookDataByVerseID[question.startVerseID].verse.number }}?</h4>
        {% else %}
            <h4>Are you sure you want to delete the commentary Q&amp;A question <code>{{ question.question }}</code> with answer <code>{{ question.answer | default('[no answer]')}}</code> for the SDA Bible Commentary on {{ commentariesByID[question.commentaryID].topicName }}?</h4>
        {% endif %}
    {% endif %}
    <form method="post">
        {{ csrf('delete-question') | raw }}
        <button class="btn btn-sm btn-danger" type="submit" name="action"><i class="fas fa-trash-alt"></i> Delete Question</button>
    </form>
</div>

{% endblock %}