{% extends "layouts/main.twig" %}

{% block content %}

<p><a class="btn-flat blue-text waves-effect waves-blue no-uppercase" href="{{ app.yurl('/') }}">Back</a></p>

<h3>About</h3>

<div id="about">
    <div class="row">
        <div class="col s12">
            <p>The {{ app.websiteName }} website was originally developed for <a href="http://www.pathfindersonline.org/">Pathfinder</a> clubs in the <a href="https://www.uccsda.org/">Upper Columbia Conference</a> of <a href="https://www.adventist.org/en/">Seventh-day Adventists</a>. It was created by and is now hosted by <a href="babien.co" target="_blank">Michael Babienco</a>, an alumnus of Southern Adventist University.</p>
            <p>Once you've been given access to the website by a club, conference, or website administrator, you'll be able to take quizzes online or generate PDFs of question flash cards to take with you on the road. You can save which questions you've answered correctly so you don't see those questions again, view stats on how you're doing during a quiz, use this website on your tablet or phone as well as on desktop, generate quizzes with weighted (or random!) question distribution, and more!</p>
            <p>For some sample quizzes that you can generate when using this website, view the following samples:
                <ul class="browser-default">
                    <li><a target="_blank" href="{{ app.yurl('/files/qna-sample-lr.pdf') }}">Q&amp;A PDF for James 1 with questions on left and answers on right</a></li>
                    <li><a target="_blank" href="{{ app.yurl('/files/qna-sample-fb.pdf') }}">Q&amp;A PDF for James 1 with questions on front and answers on back</a></li>
                    <li><a target="_blank" href="{{ app.yurl('/files/fill-in-sample-lr.pdf') }}">Fill in the blank PDF with questions on left and answers on right</a></li>
                    <li><a target="_blank" href="{{ app.yurl('/files/fill-in-sample-fb.pdf') }}">Fill in the blank PDF with questions on front and answers on back</a></li>
                </ul>
            </p>
            <hr/>
            {% if conferences | length > 0 %}
                <p>If you have questions, concerns, or need to have your Pathfinder club added to this system, please contact the adminstrator for your conference:</p>
                {% for conference in conferences %}
                    <p><a href="{{ conference.url }}" target="_blank"><b>{{ conference.name }}</b></a><br>{{ conference.contactName }}<br><a href="mailto:{{ conference.contactEmail }}">{{ conference.contactEmail }}</a></p>
                {% endfor %}
                <p>For all other questions, or to have your conference added to this system, please contact:</p>
            {% else %}
                <p>For any questions you may have or to have your conference added to this system, please contact:</p>
            {% endif %}
            <p>{{ app.contactName }}<br><a href="mailto:{{ app.contactEmail }}">{{ app.contactEmail }}</a></p>
            <p>If you're submitting information about your Pathfinder club, please send the club name, a link to the club's website or Facebook page (if available), and the name and email address of one or more club leaders who are in charge of the club.</p>
            <p>If you're submitting information about your conference, please send the conference name, a link to the conference's website, and the name and email address of person who will administer website use for your conference.</p>
            <hr/>
            <p>This website costs the creator approximately $50/year to host, not including time to maintain and update features. If you and your Pathfinder club are willing to donate a few dollars towards the cost of hosting this website, please email Michael Babienco, website creator, at <a href="mailto:admin@pbeprep.com">admin@pbeprep.com</a>. He'll send you a PayPal link or similar. <strong>This message will be removed when hosting costs have been covered for the current PBE year. Thank you for your help!</strong>
                <ul class="browser-default">
                    <li>$12.99 for domain name (pbeprep.com)</li>
                    <li>$20 email address (admin@pbeprep.com)</li>
                    <li>$0.18 domain name fees</li>
                    <li>$16.83 to offset some of the hosting fees (does not cover all hosting fees)</li>
                </ul>
            </p>
            <hr/>
            <h4>Special Thanks</h4>
            <ul class="browser-default">
                <li>Thank you to the UCC Conference of SDA for hosting the website for three PBE years! 🎉🎈</li>
                <li>Special thanks to Lisa M for sending in questions for James 1 (2021 year)</li>
                <li>Thanks to Robert O for helping to coordinate the generation of questions for the 2021 PBE year</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
