{% extends "layouts/main.twig" %}

{% block headers %}
    {% if not app.isLocalHost %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% endif %}
{% endblock %}

{% block content %}

<p><a class="btn-flat blue-text waves-effect waves-blue no-uppercase" href="{{ app.yurl('/') }}">Back</a></p>

<h3>Contact Us</h3>
<p>To have your conference or club added to the system, use this contact form or send an email to the person listed for your conference on the <a href="{{ app.yurl('/about') }}">About page</a>. You can also use this form to send questions, suggestions, or other info to website administrators!</p>

<p>If you are requesting access to the website using this form, <strong>please include information on your Pathfinder Club and Conference so that you can be added to the right places and with the right permissions in the system</strong>. Thank you!</p>

{% if not app.isLocalHost %}
    <script type="text/javascript">
       function onSubmit(token) {
            document.getElementById('contact-form').submit();
       }
     </script>
{% endif %}

{% if _get['success'] is defined %}
    <div class="green white-text p-1 mb-1 rounded-border">
        <span class="ml-1">Message successfully submitted! We'll get back to you as soon as we can.</span>
    </div>
{% endif %}

{% if errors is defined and errors | length > 0 %}
    <div class="red white-text p-1 mb-1 rounded-border">
        <span class="ml-1">Error submitting contact form: {{ errors | join('; ') }}</span>
    </div>
{% endif %}

<form id="contact-form" method="post">
    <div class="row">
        <div class="input-field col s12 m6">
            <input type="text" class="form-control" id="name" name="name" placeholder="First-Name Last-Name" required maxlength="250" data-length="250" value="{{ submission.personName }}">
            <label for="name">* Your name</label>
        </div>
        <div class="input-field col s12 m6">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required maxlength="250" data-length="250" value="{{ submission.email }}">
            <label for="email">* Your email address</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <input type="text" class="form-control" id="club" name="club" placeholder="Dayton Area Eagles" maxlength="150" data-length="150" value="{{ submission.club }}">
            <label for="club">* Pathfinder Club</label>
        </div>
        <div class="input-field col s12 m6">
            <input type="text" class="form-control" id="conference" name="conference" placeholder="Upper Columbia Conference" maxlength="150" data-length="150" value="{{ submission.conference }}">
            <label for="conference">* SDA Conference</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <select id="type" name="type" required>
                {% set selected = submission.type == 'pathfinder' ? 'selected' : '' %}
                <option value="pathfinder" {{ selected }}>Pathfinder</option>
                {% set selected = submission.type == 'leader' ? 'selected' : '' %}
                <option value="leader" {{ selected }}>PBE Leader/Pathfinder Leader/Director</option>
                {% set selected = submission.type == 'other' ? 'selected' : '' %}
                <option value="other" {{ selected }}>Other</option>
            </select>
            <label for="type">* I am a...</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required maxlength="150" data-length="150" value="{{ submission.title }}">
            <label for="title">* Subject</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <textarea class="materialize-textarea" id="message" name="message" placeholder="I would like an access code to...I belong to the Pathfinder club named..." rows="5" required data-length="10000"> {{ submission.message }}</textarea>
            <label for="message">* Message</label>
        </div>
    </div>
    {% if not app.isLocalHost %}
        <button type="submit" class="btn waves-effect waves-light submit g-recaptcha" 
            data-sitekey="{{ app.recaptchaPublicKey }}"
            data-callback="onSubmit">Submit</button>
        {# <p>
            <em>This site is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
            <a href="https://policies.google.com/terms">Terms of Service</a> apply.</em>
        </p> #}
    {% else %}
        <button type="submit" class="btn waves-effect waves-light submit">Submit</button>
    {% endif %}
    <p id="contact-note" class="mt-2"><em>Note: If this contact form fails due to some unusual error, you can email {{ app.contactName }} at <a href="mailto:{{ app.contactEmail }}">{{ app.contactEmail }}</a>.</em></p>

    <p>If you're submitting information about your Pathfinder club, please send the club name, a link to the club's website or Facebook page (if available), and the name and email address of one or more club leaders who are in charge of the club.</p>

    <p>If you're submitting information about your conference, please send the conference name, a link to the conference's website, and the name and email address of person who will administer website use for your conference.</p>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
        fixRequiredSelectorCSS();
    });
</script>

{% endblock %}
