{% extends "layouts/bootstrap.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<h3>Welcome back, {{ currentUsername() }}!</h3>

{% if app.isGuest %}
    <h4>You are currently browsing the site in guest mode. You will be unable to add, edit, or delete questions.</h4>
{% endif %}

<div id="user-links">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <a class='btn btn-primary btn-block' href="{{ app.yurl('/questions') }}">Questions</a></li>
            <a class='btn btn-info btn-block' href="{{ app.yurl('/quiz/setup') }}">Quiz me!</a></li>
            <a class='btn btn-secondary btn-block' href="{{ app.yurl('/active-clubs') }}">Clubs</a></li>
            <a class='btn btn-outline-primary btn-block' href="{{ app.yurl('/study-guides') }}">Study Guides</a></li>
            <a class='btn btn-outline-info btn-block' href="{{ app.yurl('/settings') }}">Settings</a></li>
        </div>
        <div class="col-sm-12 col-md-8">
            {% include "includes/home-info-sections.twig" with {'sections': sections, 'isOnAdmin': false, 'selectedConferenceID': currentConferenceID() } %}
        </div>
    </div>
</div>

<div id="extra-home-info">
    <div class="row">
        <p class="col">
        </p>
    </div>
</div>

{% endblock %}
