{% extends "layouts/main.twig" %}

{% block content %}

<h3>Welcome back, {{ currentUsername() }}!</h3>

{% if app.isGuest %}
    <h4>You are currently browsing the site in guest mode. You will be limited to viewing 100 questions and will be unable to add, edit, or delete questions.</h4>
{% endif %}

<div id="user-links">
    <div class="row">
        <div class="col s12 m4">
            <ul>
                <li class="home-buttons"><a class='btn waves-effect waves-light' href="{{ app.yurl('/questions') }}">Questions</a></li>
                <li class="home-buttons"><a class='btn waves-effect waves-light' href="{{ app.yurl('/quiz/setup') }}">Quiz me!</a></li>
                <li class="home-buttons"><a class='btn waves-effect waves-light' href="{{ app.yurl('/active-clubs') }}">Active Clubs</a></li>
                <li class="home-buttons"><a class='btn waves-effect waves-light' href="{{ app.yurl('/stats') }}">Question Stats</a></li>
                <li class="home-buttons"><a class='btn waves-effect waves-light' href="{{ app.yurl('/study-guides') }}">Study Guides</a></li>
                <li class="home-buttons"><a class='btn waves-effect waves-light' href="{{ app.yurl('/settings') }}">Settings</a></li>
            </ul>
        </div>
        <div class="col s12 m8">
            {% include "includes/home-info-sections.twig" with {'sections': sections, 'isOnAdmin': false, 'selectedConferenceID': webAdminConferenceID(app) } %}
        </div>
    </div>
</div>

<div id="extra-home-info">
    <h4>News</h4>
    <div class="row">
        <p class="col s12 m8"><strong>November 22, 2020</strong></p>
        <ul class="browser-default col s12 m9">
            <li>Welcome to the new website! There are many improvements on the administrator side of the website and some other improvements done here and there. We hope to have more updates out soon!</li>
            <li>Upcoming changes (no ETA):
                <ul class="browser-default">
                    <li>New and improved user interface for the entire website</li>
                    <li>Improved interface for browsing questions (Done as of December 13!)</li>
                    <li>Other improvements</li>
                </ul>
            </li>
            <li>This website costs the creator approximately $50/year to host, not including time to maintain and update features. If you and your Pathfinder club are willing to donate a few dollars towards the cost of hosting this website, please email Michael Babienco, website creator, at <a href="mailto:admin@pbeprep.com">admin@pbeprep.com</a>. He'll send you a PayPal link or similar. <strong>This message will be removed when hosting costs have been covered for the current PBE year. Thank you for your help!</strong>
                <ul class="browser-default">
                    <li>$12.99 for domain name (pbeprep.com)</li>
                    <li>$20 email address (admin@pbeprep.com)</li>
                    <li>$0.18 domain name fees</li>
                    <li>$16.83 to offset some of the hosting fees (does not cover all hosting fees)</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
