{% extends "layouts/main.twig" %}

{% block headers %}
    {{ include('includes/scripts/select2.twig') }}
{% endblock %}

{% block content %}
   
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Settings</li>
    </ol>
</nav>

<h3>User Settings</h3>

{% if didUpdate %}
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="alert alert-success mb-2" role="alert">
                Settings successfully updated!
            </div>
        </div>
    </div>
{% endif %}

<form method="post">
    <div class="row">
        <div class="form-group col-12 col-md-4">
            <label for="language-select">Default Question Language</label>
            <select id="language-select" name="language-select" class="form-control">
                {% for language in languages %}
                    {% set selected = language.languageID == userLanguage.languageID ? 'selected' : '' %}
                    <option value="{{ language.languageID }}" {{ selected }}>{{ language.getDisplayName() }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button class="btn btn-sm btn-primary mt-2" type="submit" name="action"><i class="fas fa-save"></i> Save</button>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $('#language-select').select2({
            theme: 'bootstrap-5',
            placeholder: 'Select language...',
            searchInputPlaceholder: 'Search languages...',
            allowClear: false
        });
    });
</script>

{% endblock %}
