{% extends "layouts/main.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/study-guides') }}">Manage Study Guides</a></li>
        <li class="breadcrumb-item active" aria-current="page">Upload Study Guide (Year: {{ currentYear.year }})</li>
    </ol>
</nav>

<h4>Upload Study Guide (Year: {{ currentYear.year }})</h4>

{% include 'includes/error-message.twig' %}

{% if didSucceed %}
    <div class="alert alert-success" role="alert">
        <span>File uploaded successfully!</strong></span>
    </div>
{% endif %}

<div id="upload-study-guide">
    <p class="mb-1">This form only accepts PDF files. The maximum file size for a PDF study guide is 10 MB.</p>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group col-sm-12 col-md-4">
                <label for="csv">Choose Study Guide File</label>
                <input class="form-control" type="file" id="file-upload" name="file-upload" accept=".pdf,application/pdf">
            </div>
        </div>
        <div class="row mt-1">
            <div class="form-group col-sm-12 col-md-4">
                <label for="display-name">Display Name</label>
                <input type="text" class="form-control" id="display-name" name="display-name" maxlength="300" required value="{{ displayName }}" placeholder="My Best Study Guide"/>
            </div>
        </div>
        <button class="btn btn-sm btn-primary mt-2" type="submit" name="action"><i class="fas fa-upload"></i> Upload</button>
    </form>
</div>

{% endblock %}
