{% extends "layouts/main.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/study-guides') }}">Manage Study Guides</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete Study Guide</li>
    </ol>
</nav>

<h2>Delete Study Guide</h2>

{% include 'includes/error-message.twig' %}

<div id="delete-study-guide">
    <h4> Are you sure you want to delete the study guide {{ studyGuide.displayName }} for the year {{ studyGuide.year }}? </h4>
    <form method="post">
        {{ csrf('delete-study-guide') | raw }}
        <button class="btn btn-danger btn-sm" type="submit" name="action"><i class="fas fa-trash-alt"></i> Delete Study Guide</button>
    </form>
</div>

{% endblock %}