
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }} - PBE</title>
        <style>
            .center {
                text-align: center;
            }
            .mb-0 {
                margin-bottom: 0;
            }
            .mb-1 {
                margin-bottom: 0.25em;
            }
            .mt-0 {
                margin-top: 0;
            }
        </style>
    </head>
    <body>
        <h1 class="center">{{ title }} - First Letters [{{ language.name }}]</h1>
        {% for line in lines %}
            <p class="mb-1 mt-0">{{ chapterNumber }}:{{ loop.index }} - {{ line }}</p>
        {% endfor %}
    </body>
</html>