{% extends "layouts/main.twig" %}

{% block content %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/users') }}">Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete User</li>
    </ol>
</nav>

<h2>Delete User</h2>

{% include 'includes/error-message.twig' %}

<div id="delete-user">
    <h4>Are you sure you want to delete the {{ user.type.displayName }} {{ user.username }}? </h4>
    <form method="post">
        {{ csrf('delete-user') | raw }}
        <button class="btn btn-sm btn-danger" type="submit" name="action"><i class="fas fa-trash-alt"></i> Delete User</button>
    </form>
</div>

{% endblock %}