{% extends "layouts/main.twig" %}

{% block headers %}

{% include 'includes/scripts/datatables.twig' %}

{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
</nav>

<h4>Users</h4>

{% if _get['created'] %}
    <div class="alert alert-success" role="alert">
        <span class="ml-1">User successfully created! Their access code is: <strong>{{ _get['created'] }}</strong>.</span>
    </div>
{% endif %}

{% if _get['updated'] %}
    <div class="alert alert-success" role="alert">
        <span class="ml-1">Successfully updated access code! The updated access code is: <strong>{{ _get['updated'] }}</strong>.</span>
    </div>
{% endif %}

<p>Please note that any 0 in entry codes are zeros, not the capital letter O</p>

<div id="users-div">
    {% if app.isClubAdmin %}
        <h5>Club: {{ clubName }}</h5>
    {% elseif app.isConferenceAdmin %}
        <h5>Conference: {{ conferenceName }}</h5>
    {% endif %}
        
    <div id="create">
        <a class="btn btn-sm btn-primary" href="{{ app.yurl('/admin/users/create') }}"><i class="fas fa-plus"></i> Add User</a>
    </div>
    <table class="table table-sm table-striped table-bordered" id="users-table">
        <thead>
            <tr>
                <th data-placeholder="Username">Username</th>
                <th data-placeholder="Entry Code">Entry Code</th>
                {% if app.isWebAdmin or app.isConferenceAdmin %}
                    <th data-placeholder="User Type">User Type</th>
                    <th data-placeholder="Club">Club</th>
                {% endif %}
                {% if app.isWebAdmin %}
                    <th data-placeholder="Conference">Conference</th>
                {% endif %}
                <th data-placeholder="Last Login">Last Login</th>
                <th data-sorter="false" data-filter="false"></th>
                <th data-sorter="false" data-filter="false"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% set canEdit = true %}
                {% if app.isClubAdmin and (user.type.type == 'ClubAdmin' or user.type.type == 'ConferenceAdmin' or user.type.type == 'WebAdmin') %}
                    {% set canEdit = false %}
                {% endif %}
                {% if app.isConferenceAdmin and (user.type.type == 'ConferenceAdmin' or user.type.type == 'WebAdmin') %}
                    {% set canEdit = false %}
                {% endif %}
                {% if not app.isWebAdmin and user.type.type == 'Guest' %}
                    {% set canEdit = false %}
                {% endif %}
                {% set entryCode = canEdit ? user.entryCode : '' %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ entryCode }}</td>
                    {% if app.isWebAdmin or app.isConferenceAdmin %}
                        <td>{{ user.type.displayName }}</td>
                        <td>{{ clubsByID[user.clubID].name }}</td>
                    {% endif %}
                    {% if app.isWebAdmin %}
                        <td>{{ conferencesByID[clubsByID[user.clubID].conferenceID].name }}</td>
                    {% endif %}
                    <td data-sort="{{ user.lastLoginDate }}">{{ user.lastLoginDate | date('D, M d, Y, g:i a') }}</td>
                    <td>
                        {% if currentUserID != user.userID and canEdit %}
                            <a class="btn btn-sm btn-primary" href="{{ app.yurl('/admin/users/' ~ user.userID ~ '/edit') }}"><i class="fas fa-pencil"></i> Edit</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if currentUserID != user.userID and canEdit %}
                            <a class="btn btn-sm btn-danger" href="{{ app.yurl('/admin/users/' ~ user.userID ~ '/delete') }}"><i class="fas fa-trash-alt"></i> Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).ready(function() {
        datatablesProps.columnDefs = [
            { orderable: false, targets: [-1, -2] }
        ];
        datatablesProps.language = {
            searchPlaceholder: "Search users..."
        };
        datatablesProps.order = [[ 0, 'asc' ]];
        $('#users-table').DataTable(datatablesProps);
    });
</script>

{% endblock %}