{% extends "layouts/main.twig" %}

{% block headers %}

{{ include('includes/scripts/select2.twig') }}

{% endblock %}


{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/clubs') }}">Pathfinder Clubs</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ isCreating ? 'Create Pathfinder Club' : 'Edit Pathfinder Club' }}</li>
    </ol>
</nav>

<h4>{{ isCreating ? 'Create Pathfinder Club' : 'Edit Pathfinder Club' }}</h4>

{% include 'includes/error-message.twig' %}

<div id="edit-club">
    <form method="post">
        <div class="row">
            <div class="form-group col-sm-12 col-md-4">
                <label for="club-name">* Club Name</label>
                <input class="form-control" type="text" id="club-name" name="club-name" value="{{ club.name }}" required maxlength="150" placeholder="Super Pathfinders of My State"/>
            </div>
            <div class="form-group col-sm-12 col-md-4">
                <label for="club-url">* Website or Facebook URL</label>
                <input class="form-control" type="url" id="club-url" name="club-url" value="{{ club.url }}" maxlength="300" placeholder="www.mychurchwebsite.com/pathfinders" required/>
            </div>
        </div>
        {% if app.isWebAdmin %}
            <div class="row">
                <div class="form-group col-sm-12 col-md-4 mt-1">
                    <label for="conference">* Conference</label>
                    <select class="form-control" id="conference" name="conference" required>
                        <option id="conference-no-selection-option" value="">Select a conference...</option>
                        {% for conference in conferences %}
                            {% set selected = conference.conferenceID == club.conferenceID ? 'selected' : '' %}
                            <option value="{{ conference.conferenceID }}" {{ selected }}>{{ conference.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
        <button class="btn btn-sm btn-primary mt-2" type="submit" name="action"><i class="fas fa-save"></i> Save</button>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#conference').select2({
            theme: 'bootstrap-5',
            placeholder: 'Select a conference...',
            searchInputPlaceholder: 'Search conferences...',
            allowClear: false
        });
    });
</script>

{% endblock %}
