{% extends "layouts/main.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/clubs') }}">Pathfinder Clubs</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete Pathfinder Club</li>
    </ol>
</nav>

<h2>Delete Pathfinder Club</h2>

{% include 'includes/error-message.twig' %}

<div id="delete-club">
    <h4> Are you sure you want to delete the club {{ club.name }}? </h4>
    <form method="post">
        {{ csrf('delete-club') | raw }}
        <button class="btn btn-sm btn-danger" type="submit" name="action"><i class="fas fa-trash-alt"></i> Delete Club</button>
    </form>
</div>

{% endblock %}