{% extends "layouts/main.twig" %}

{% block headers %}

{{ include('includes/scripts/datatables.twig') }}
{{ include('includes/scripts/select2.twig') }}

{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pathfinder Clubs</li>
    </ol>
</nav>

<h4>Pathfinder Clubs</h4>

<div id="users-div">
    <div class="section" id="create">
        <h5>Create Club</h5>
        <form action="{{ app.yurl('/admin/clubs/create') }}" method="post">
            <div class="row">
                <div class="form-group col-sm-12 col-md-4">
                    <label for="club-name">Club Name</label>
                    <input class="form-control" type="text" id="club-name" name="club-name" value="{{ club.name }}" required maxlength="150" placeholder="Super Pathfinders of My State"/>
                </div>
                <div class="form-group col-sm-12 col-md-4">
                    <label for="club-url">Website or Facebook URL</label>
                    <input class="form-control"  type="url" id="club-url" name="club-url" value="{{ club.url }}" required maxlength="300" placeholder="www.mychurchwebsite.com/pathfinders"/>
                </div>
            </div>
            {% if app.isWebAdmin %}
                <div class="row mt-1">
                    <div class="form-group col-sm-12 col-md-4">
                        <label for="conference">Conference</label>
                        <select class="form-control" id="conference" name="conference" required>
                            <option id="conference-no-selection-option" value="">Select a conference...</option>
                            {% for conference in conferences %}
                                {% set selected = conference.conferenceID == club.conferenceID ? 'selected' : '' %}
                                <option value="{{ conference.conferenceID }}" {{ selected }}>{{ conference.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}
            <button class="btn btn-sm btn-primary mt-2" type="submit" name="action"><i class="fas fa-save"></i> Create Club</button>
        </form>
    </div>
    <hr/>
    <table class="table table-striped table-responsive table-bordered" id="clubs-table">
        <thead>
            <tr>
                <th>Club Name</th>
                <th>URL</th>
                <th>Conference</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
                <tr>
                    <td>{{ club.name }}</td>
                    <td><a href="{{ club.url }}" target="_blank">{{ club.url }}</a></td>
                    <td>{{ conferencesByID[club.conferenceID].name }}</td>
                    <td><a class="btn btn-sm btn-primary" href="{{ app.yurl('/admin/clubs/' ~ club.clubID ~ '/edit') }}"><i class="fas fa-pencil"></i> Edit Club</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{{ app.yurl('/admin/clubs/' ~ club.clubID ~ '/delete') }}"><i class="fas fa-trash-alt"></i> Delete Club</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).ready(function() {
        datatablesProps.columnDefs = [
            { orderable: false, targets: [-1, -2] }
        ];
        datatablesProps.language = {
            searchPlaceholder: "Search clubs..."
        };
        datatablesProps.order = [[ 0, 'asc' ]];
        $('#clubs-table').DataTable(datatablesProps);
        $('#conference').select2({
            theme: 'bootstrap-5',
            placeholder: 'Select a conference...',
            searchInputPlaceholder: 'Search conferences...',
            allowClear: false
        });
    });
</script>

{% endblock %}
