{% extends "layouts/main.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/bible-qna-questions') }}">Bible Fill in the Blank Questions</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete {{ language.getDisplayName() }} Bible Q&amp;A Questions</li>
    </ol>
</nav>

<h2>Delete {{ language.getDisplayName() }} Bible Q&amp;A Questions</h2>

{% include 'includes/error-message.twig' %}

<div id="delete-bible-qna-questions">
    <h4> Are you sure you want to delete all of the {{ language.getDisplayName() }} Bible Q&amp;A questions? </h4>
    <form method="post">
        {{ csrf('delete-language-bible-qna') | raw }}
        <button class="btn btn-danger btn-sm" type="submit" name="action"><i class="fas fa-trash-alt"></i> Delete Questions</button>
    </form>
</div>

{% endblock %}